@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --grey-black: #101010;
  --light-orange: #ffdb97;
  --orange: #f36b00;
  --dark-orange: #7e3701;
  --light-blue: #a7c1cf;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html, body {
  height: 110%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
